html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #ececec8e;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #33322f;
  --black: #000000;
  --blue: #1B77F3;
  --red: #CF3C3F;
}