* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


main {
    display: flex;
}

p {
    padding-top: 15px;
}

.signin {
    text-align: center;
}


:root {
    --white: #FFF;
    --whitesmoke: #F9F9F9;
    --light-grey: #ececec8e;
    --grey: #C4C4C4;
    --medium-grey: #A7A7A7;
    --deep-grey: #33322f;
    --black: #000000;
    --blue: #1B77F3;
    --red: #CF3C3F;
}


.wrapper {
    padding-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  

  .header {
    display: flex;
    flex-wrap: wrap;
    background-color: #304a37;
    width: 100%;
    height: 90px;
    text-align: right;
}

.logo {
   width: 20%;
   padding: 10px 0 0 0;
}


.login_title {
    padding-bottom: 30px;
    padding-top: 5px;
    color: #304a37;
}


.login {
    display: flex;
    border-radius: 20px; 
    border: solid 1px #33322f;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 500px;
    min-height: center;
    max-height: center;
    padding: clamp(35px, 8%, 0px);
    background-image: url('./img/arvoreverde.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
   
}

.login__label {
    display: block;
    margin-bottom: clamp(10px, 2%, 10px);
    width: 100%;
}



.input {
    width: 100%;
    background-color: var(--light-grey);
    border: 2px solid rgba(0, 0, 0, 0);
    border-radius: 20px;
    outline: none;
    font-size: 0.9em;
    padding: 25px 10px 10px;
    font-weight: 600;
    color: var(--deep-grey);    
}
  
.login__label span {
    position: absolute;
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--medium-grey);
    margin: 20px;
    cursor: text;
    transition: all 200ms ease;
}

.input:focus {
    background-color: var(--whitesmoke);
    border: 2px solid var(--deep-grey);
}
  
.login__label .span-active {
    font-size: 0.5em;
    padding-left: 15px;
    margin: 8px 10px;
}

.button {
    width: 60%;
    background-color: var(--deep-grey);
    border-radius: 20px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.signin a:visited, a:link {
    color: var(--deep-grey)
}



@media screen and (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    
    main {
        display: flex;
    }
    
    p {
        padding-top: 15px;
    }
    
    
    :root {
        --white: #FFF;
        --whitesmoke: #F9F9F9;
        --light-grey: #ececec8e;
        --grey: #C4C4C4;
        --medium-grey: #A7A7A7;
        --deep-grey: #33322f;
        --black: #000000;
        --blue: #1B77F3;
        --red: #CF3C3F;
    }
    
    
    .wrapper {
        padding-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
    
    .header {
        display: flex;
        background-color: #304a37;
        width: auto;
        height: 90px;
        
    }
    
    .logo img {
        padding-left: 50%;
    }
    
    
    .login_title {
        padding-bottom: 30px;
        padding-top: 5px;
        color: #304a37;
    }
    
    
    .login {
        display: flex;
        border-radius: 20px; 
        border: solid 1px #33322f;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 400px;
        min-height: center;
        max-height: center;
        padding: clamp(35px, 8%, 70px);
        background-image: url('./img/arvoreverde.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       
    }
    
    .login__label {
        display: block;
        margin-bottom: clamp(10px, 2%, 10px);
        width: 100%;
    }
    
    
    
    .input {
        width: 100%;
        background-color: var(--light-grey);
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        outline: none;
        font-size: 0.9em;
        padding: 25px 10px 10px;
        font-weight: 600;
        color: var(--deep-grey);    
    }
      
    .login__label span {
        position: absolute;
        font-size: 0.8em;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--medium-grey);
        margin: 20px;
        cursor: text;
        transition: all 200ms ease;
    }
    
    .input:focus {
        background-color: var(--whitesmoke);
        border: 2px solid var(--deep-grey);
    }
      
    .login__label .span-active {
        font-size: 0.5em;
        padding-left: 15px;
        margin: 8px 10px;
    }
    
    .button {
        width: 60%;
        background-color: var(--deep-grey);
        border-radius: 20px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .signin a:visited, a:link {
        color: var(--deep-grey)
    }
    
}

@media screen and (max-width: 400px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        
    }
    
    
    main {
        display: flex;
    }
    
    p {
        padding-top: 15px;
    }
    
    
    :root {
        --white: #FFF;
        --whitesmoke: #F9F9F9;
        --light-grey: #ececec8e;
        --grey: #C4C4C4;
        --medium-grey: #A7A7A7;
        --deep-grey: #33322f;
        --black: #000000;
        --blue: #1B77F3;
        --red: #CF3C3F;
    }
    
    
    .wrapper {
        padding-top: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      
    
    .header {
        display: flex;
        background-color: #304a37;
        width: auto;
        height: 90px;
        
    }
    
    .logo img {
        padding-left: 50%;
    }
    
    
    .login_title {
        padding-bottom: 30px;
        padding-top: 5px;
        color: #304a37;
    }
    
    
    .login {
        display: flex;
        border-radius: 20px; 
        border: solid 1px #33322f;
        padding-top: 50px;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 350px;
        min-height: center;
        max-height: center;
        padding: clamp(35px, 8%, 70px);
        background-image: url('./img/arvoreverde.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
       
    }
    
    .login__label {
        display: block;
        margin-bottom: clamp(10px, 2%, 10px);
        width: 100%;
    }
    
    
    
    .input {
        width: 100%;
        background-color: var(--light-grey);
        border: 2px solid rgba(0, 0, 0, 0);
        border-radius: 20px;
        outline: none;
        font-size: 0.9em;
        padding: 25px 10px 10px;
        font-weight: 600;
        color: var(--deep-grey);    
    }
      
    .login__label span {
        position: absolute;
        font-size: 0.8em;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--medium-grey);
        margin: 20px;
        cursor: text;
        transition: all 200ms ease;
    }
    
    .input:focus {
        background-color: var(--whitesmoke);
        border: 2px solid var(--deep-grey);
    }
      
    .login__label .span-active {
        font-size: 0.5em;
        padding-left: 15px;
        margin: 8px 10px;
    }
    
    .button {
        width: 60%;
        background-color: var(--deep-grey);
        border-radius: 20px;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
    
    .signin a:visited, a:link {
        color: var(--deep-grey)
    }
    
}